---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "hyde";
@import "poole";
@import "syntax";

.threat-list {
    li {
        margin: 1em;
        font-size: 1.5em;
        list-style: none;
        padding-bottom: 1em;
        border-bottom: 1px solid #b4cfda;
    }
}

.logos {
    #nccoe-logo {
        float: left;
        padding-right: 0.5rem;
    }
    #nist-logo {
        max-width: 200px;
        padding: .75rem 1rem 0;
    }
}
