---
layout: threat-list
title: Cellular
---

<p><b><a href="#air-interface">Air Interface</a>:</b> The cellular air interface is the radio connection between a handset and a base station. There are many cellular network types each with its own air interface standards which as a total set are extremely flexible and primarily communicate
    with base stations. Note: A number of general threats to the cellular air interface are listed, yet when there’s a threat that is specific to a particular cellular protocol (e.g., GSM, CDMA, LTE) that is explicitly listed.</p>

<p><b><a href="#consumer-grade-small-cell">Consumer grade small cell</a>:</b> Small cells are often used to extend cellular network coverage into homes, offices, and other locations lacking service.</p>

<p><b><a href="#carrier-grade-messaging">Carrier-grade Messaging Services</a>:</b> Messaging services (i.e., SMS, MMS, RCS) allow text, photos, and more to be sent from one device to another. Although third-party messaging services exist, carrier-grade messaging services are pre-installed with
    nearly ubiquitous supported “out of the box” on nearly every mobile phone, and interoperable with most MNO’s networks.</p>

<p><b><a href="#ussd">USSD</a>:</b> A method for establishing a real-time session with a service or application to quickly share short messages. Although USSD messages may travel over SMS, the protocol itself is distinct.</p>

<p><b><a href="#carrier-infrastructure">Carrier Infrastructure</a>:</b> This category includes threats to the base stations, backhaul and core cellular network.</p>

<p><b><a href="#carrier-interoperability">Carrier Interoperability</a>:</b> This subcategory is primarily reserved for signaling threats associated with the Signaling System No. 7 (SS7) network.</p>

<p><b><a href="#volte">VoLTE</a>:</b> The packet switched network application used for making voice calls within LTE. Although not supported in every MNO’s network, large-scale rollouts are underway throughout the world.</p>

<h2>Threat List</h2>

<h3 id="air-interface">Air Interface</h3>
<ul class="threat-list">
    {% for cellular-threat in site.cellular-threats %}
        {% if cellular-threat.ThreatCategory == 'Cellular Air Interface' %}
            <li><a href="{{ site.baseurl }}{{ cellular-threat.url }}">{{ cellular-threat.Threat }}</a></li>
        {% endif %}
    {% endfor %}
</ul>

<h3 id="consumer-grade-small-cell">Consumer grade small cell</h3>
<ul class="threat-list">
    {% for cellular-threat in site.cellular-threats %}
        {% if cellular-threat.ThreatCategory == 'Consumer-grade Femtocell' %}
            <li><a href="{{ site.baseurl }}{{ cellular-threat.url }}">{{ cellular-threat.Threat }}</a></li>
        {% endif %}
    {% endfor %}
</ul>

<h3 id="carrier-grade-messaging">Carrier-grade Messaging Services</h3>
<ul class="threat-list">
    {% for cellular-threat in site.cellular-threats %}
        {% if cellular-threat.ThreatCategory == 'SMS / MMS / RCS' %}
            <li><a href="{{ site.baseurl }}{{ cellular-threat.url }}">{{ cellular-threat.Threat }}</a></li>
        {% endif %}
    {% endfor %}
</ul>

<h3 id="ussd">USSD</h3>
<ul class="threat-list">
    {% for cellular-threat in site.cellular-threats %}
        {% if cellular-threat.ThreatCategory == 'USSD' %}
            <li><a href="{{ site.baseurl }}{{ cellular-threat.url }}">{{ cellular-threat.Threat }}</a></li>
        {% endif %}
    {% endfor %}
</ul>

<h3 id="carrier-infrastructure">Carrier Infrastructure</h3>
<ul class="threat-list">
    {% for cellular-threat in site.cellular-threats %}
        {% if cellular-threat.ThreatCategory == 'Carrier Infrastructure' %}
            <li><a href="{{ site.baseurl }}{{ cellular-threat.url }}">{{ cellular-threat.Threat }}</a></li>
        {% endif %}
    {% endfor %}
</ul>

<h3 id="carrier-interoperability">Carrier Interoperability</h3>
<ul class="threat-list">
    {% for cellular-threat in site.cellular-threats %}
        {% if cellular-threat.ThreatCategory == 'Carrier Interoperability' %}
            <li><a href="{{ site.baseurl }}{{ cellular-threat.url }}">{{ cellular-threat.Threat }}</a></li>
        {% endif %}
    {% endfor %}
</ul>

<h3 id="volte">VoLTE</h3>
<ul class="threat-list">
    {% for cellular-threat in site.cellular-threats %}
        {% if cellular-threat.ThreatCategory == 'VoLTE' %}
            <li><a href="{{ site.baseurl }}{{ cellular-threat.url }}">{{ cellular-threat.Threat }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
