---
layout: threat-list
title: LANs and PANs
---

<p><b><a href="#wifi">WiFi:</a></b> WiFi is a wireless local area networking (WLAN) technology based on the IEEE 802.11 series of standards.</p>

<p><b><a href="#bluetooth">Bluetooth:</a></b> Bluetooth is a medium-range, lower power, wireless communication technology.</p>

<p><b><a href="#nfc">NFC:</a></b> NFC is a short range wireless communication technology that is commonly used for mobile wallet technologies and peripheral configuration, although a number of other applications exist.</p>

<h2>Threat List</h2>

<h3 id="wifi">WiFi</h3>
<ul class="threat-list">
    {% for lan-pan-threat in site.lan-pan-threats %}
        {% if lan-pan-threat.ThreatCategory == 'Network Threats: Wi-Fi' %}
            <li><a href="{{ site.baseurl }}{{ lan-pan-threat.url }}#page">{{ lan-pan-threat.Threat }}</a></li>
        {% endif %}
    {% endfor %}
</ul>

<h3 id="bluetooth">Bluetooth</h3>
<ul class="threat-list">
    {% for lan-pan-threat in site.lan-pan-threats %}
        {% if lan-pan-threat.ThreatCategory == 'Network Threats: Bluetooth' %}
            <li><a href="{{ site.baseurl }}{{ lan-pan-threat.url }}#page">{{ lan-pan-threat.Threat }}</a></li>
        {% endif %}
    {% endfor %}
</ul>

<h3 id="nfc">NFC</h3>
<ul class="threat-list">
    {% for lan-pan-threat in site.lan-pan-threats %}
        {% if lan-pan-threat.ThreatCategory == 'Network Threats: NFC' %}
            <li><a href="{{ site.baseurl }}{{ lan-pan-threat.url }}#page">{{ lan-pan-threat.Threat }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
