---
layout: threat-list
title: Payment
---

<p>Threats related to mobile payments are included within this category, including a variety of mobile payment technologies such as USSD, NFC-based payments, and credit card tokenization.</p>

<h2>Threat List</h2>
<ul class="threat-list">
	{% assign sorted = site.payment-threats | sort:"rawID" %}
    {% for payment-threat in sorted %}
        <li><a href="{{ site.baseurl }}{{ payment-threat.url }}">{{ payment-threat.ID }}: {{ payment-threat.Threat }} {% if payment-threat.removed %}(DEPRECATED){% endif %}</a></li>
    {% endfor %}
</ul>
