---
layout: threat-list
title: Supply Chain
---

<p>This category includes threats related to the device and component supply chain. To the extent that they are included, software supply chain related threats are noted within the Vulnerable Applications category.</p>

<h2>Threat List</h2>
<ul class="threat-list">
	{% assign sorted = site.supply-chain-threats | sort:"rawID" %}
    {% for supply-chain-threat in sorted %}
        <li><a href="{{ site.baseurl }}{{ supply-chain-threat.url }}#page">{{ supply-chain-threat.ID }}: {{ supply-chain-threat.Threat }} {% if supply-chain-threat.removed %}(DEPRECATED){% endif %}</a></li>
    {% endfor %}
</ul>
