<footer class="nist-footer">
    <div class="logos">
        <a href="https://nist.gov"><img id="nist-logo" src="{{ site.baseurl }}/img/nist-logo.svg" alt="NIST Logo"></a>
        <a href="https://nccoe.nist.gov"><img id="nccoe-logo" src="{{ site.baseurl }}/img/nccoe-logo.svg" alt="NCCoE Logo"></a>
    </div>
    <ul class="nist-links">
        <li><a target="_blank" href="http://www.nist.gov">NIST Website</a></li>
        <li><a target="_blank" href="https://www.nist.gov/about-nist">About NIST</a></li>
        <li><a target="_blank" href="https://github.com/usnistgov">usnistgov on GitHub</a></li>
    </ul>
</footer>