<div id="github-issues" threatID="{{page.ID}}"></div>
<ul id="issue-list"></ul>
<script>
    var github = "https://api.github.com/repos/usnistgov/mobile-threat-catalogue/issues?access_token=98bd69e6934fde706a6967ef44554812d51b866c";
    var div = document.getElementById("github-issues");
    var ul = document.getElementById("issue-list");
    var threatID = div.getAttribute("threatID")

    request = new XMLHttpRequest();
    request.open('GET', github, true);

    request.onload = function() {
        data = JSON.parse(request.responseText);

        data.map(function(data) {
            if (data.title.includes(threatID) || data.body.includes(threatID)) {
                div.innerHTML = "<strong>This entry was flagged for review in the following issues:</strong>";
                ul.innerHTML += " <li><a href=\"" + data.html_url + "\">Issue #" + data.number + ": " + data.title + "</a></li>";
            }
        });
    };

    request.send();
</script>
