<div class="sidebar">
    <div class="container">
        <div class="sidebar-about">
            <h1>
                <a href="{{ site.baseurl }}/">
                    {{ site.title }}
                </a>
            </h1>
            <!--  <p class="lead">{{ site.description }}</p> -->
        </div>

        <nav class="sidebar-nav">
            <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

                {% comment %}
                    The code below dynamically generates a sidebar nav of pages with
                    `layout: page` in the front-matter. See readme for usage.
                {% endcomment %}

            <h4 class="sidebar-nav-item" >Chapters</h4>
            <ul>
                <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/application.html">Application</a></li>
                <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/authentication.html">Authentication</a></li>
                <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/cellular.html">Cellular</a></li>
                <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/ecosystem.html">Ecosystem</a></li>
                <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/emm.html">EMM</a></li>
                <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/gps.html">GPS</a></li>
                <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/lan-pan.html">LAN &amp; PAN</a></li>
                <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/payment.html">Payment</a></li>
                <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/physical-access.html">Physical Access</a></li>
                <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/stack.html">Stack</a></li>
                <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/supply-chain.html">Supply Chain</a></li>
            </ul>
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/glossary.html">Glossary</a>
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/references.html">References</a>


        </nav>
    </div>
</div>
