---
layout: page
---

# {{page.Threat}}
[Contribute]({{ site.baseurl }}/contributing.html)

{% if page.removed %}
<p>This threat has been deprecated, and is no longer part of the Mobile Threat Catalogue.</p>
<p>Click <a style="cursor: pointer;" onClick="toggleThreatContent()">here</a> if you would like to see the original content.</p>
<div id="content-hide" markdown="1">
{% endif %}

<p><b>Threat Category:</b> {{page.ThreatCategory}}</p>
<p><b>ID:</b> {{page.ID}}</p>
<p markdown="1"><b>Threat Description:</b> {{page.ThreatDescription}}</p>

<p><b>Threat Origin</b></p>
<div class="paragraph">
{% if page.ThreatOrigin %}
{% for ThreatOrigin in page.ThreatOrigin %}
    <p markdown="1">{{ ThreatOrigin }}</p>
{% endfor %}
{% else %}
    <p><i>Not Applicable, See Exploit or CVE Examples</i></p>
{% endif %}
</div>

<p><b>Exploit Examples</b></p>
<div class="paragraph">
{% if page.ExploitExample %}
{% for ExploitExample in page.ExploitExample %}
    <p markdown="1">{{ ExploitExample }}</p>
{% endfor %}
{% else %}
    <p><i>Not Applicable</i></p>
{% endif %}
</div>

<p><b>CVE Examples</b></p>
<div class="paragraph">
{% if page.CVEExample %}
<ul class="cve-list">
{% for CVEExample in page.CVEExample %}
    {% assign CVEs = CVEExample | split: " " %}
    <li><a target="_blank" href="https://cve.mitre.org/cgi-bin/cvename.cgi?name={{ CVEs[0] }}">{{ CVEs[0] }}</a></li>
{% endfor %}
</ul>
{% else %}
    <p><i>Not Applicable</i></p>
{% endif %}
</div>

<p><b>Possible Countermeasures</b></p>
<div class="paragraph">
    {% for PossibleCountermeasures in page.PossibleCountermeasures %}
        <b>{{ PossibleCountermeasures[0] }}</b>
        {% for PossibleCountermeasures in PossibleCountermeasures[1] %}
            <p markdown="1" class="countermeasure">{{ PossibleCountermeasures }}</p>
        {% endfor %}
    {% endfor %}
</div>

{% include issues.html %}

<p><b>References</b></p>
{% include references.md %}
{:footnotes}

{% if page.removed %}
</div>
{% endif %}